<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query"> <br /><br />
            Daily Meal:
            <div ng-repeat="recipe in recipes | limitTo:4">
                <input type="checkbox" value="{{recipe.category}}" ng-model="meal"> {{recipe.category}}
            </div>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="recipes">
                <li ng-repeat="recipe in recipes | filter:query | filter:meal" class="thumbnail">
                    <a href="#/recipes/{{recipe.id}}">{{recipe.name}}</a>
                    <a href="#/recipes/{{recipe.id}}" class="thumb"><img ng-src="{{recipe.imageUrl}}"></a>
                </li>
            </ul>

        </div>
    </div>
</div>