<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!--Sidebar content-->
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <input ng-model="query" placeholder="Search..."/> <br /><br />
                Daily Meal: <br />
                <div ng-repeat="recipe in recipes | limitTo:4">
                    <input type="checkbox" ng-click="includeCategory(recipe.category)"/> {{recipe.category}}
                </div> <br /><br />
                <div class="create-btn">
                    <a href="#/recipe-creator" class="btn btn-default btn-lg" >Create your own recipes</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <!--Body content-->

            <ul class="recipes">
                <li ng-repeat="recipe in recipes | filter:query | filter:categoryFilter" style="height: 10em;" class="col-xs-6 col thumbnail center-block">
                    <a href="#/recipes/{{recipe.id}}">{{recipe.name}}</a>
                    <a href="#/recipes/{{recipe.id}}" class="thumb"><img ng-src="{{recipe.imageUrl}}"></a><br />
                    <p class="glyphicon glyphicon-share"></p><p class="glyphicon glyphicon-time"></p><br />
                    <p class="author">Author: {{recipe.author}}</p><br />
                    <p class="time">
                       Prep: {{recipe.duration.prep}} <br />
                       Cook: {{recipe.duration.cook}} <br />
                       Ready in: {{recipe.duration.ready}}
                    </p>
                </li>
            </ul>

        </div>
    </div>
</div>